.panel>.panel-heading{
    border: 1px solid rgb(168, 168, 168);
    border-radius: 5px 5px 0 0;
    padding: 10px;
}
.panel>.panel-body{
    border: 1px solid rgb(168, 168, 168);
    border-top: 0;
    border-radius: 0 0 5px 5px;
    padding: 5px 5px 20px 5px;
}